body {
    background-color: #a0d6b4;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    text-align: center;
}

.header {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 10px;
    border: 2px solid #333;
    border-radius: 20px;
}

.button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #1e90ff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.button:hover {
    background-color: #1c86ee;
}

.question-list {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 600px;
}

.question-item {
    background: #fff;
    border: 2px solid #087b5b;
    border-radius: 15px;
    padding: 15px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.question-text {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.question-time {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

.button-group {
    display: flex;
    margin: 5px;
    color: #fff;
    background-color:#12a179;
    border-radius: 5px;
    border-color: #aab5b2;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .header {
        font-size: 2em;
    }

    .input, .button {
        width: 50%;
        font-size: 1em;
    }
}
